@import '../../_core/styles/core.scss';

#project {
  .project-item {
    cursor: pointer;
    margin-bottom: 30px;
    min-width: 270px;

    .project-item-wrapper {
      @include shadow;
      background-color: $background-default;
      position: relative;
      overflow: hidden;

      .project-image {
        .image-view {
          height: 100%;
          width: 100%;
        }
      }

      .project-desc {
        padding: 15px;
    
        .fa-info-circle {
          color: $font-black;
          margin: 5px 5px 0 0;
        }
    
        .project-expl {
          color: $font-black;
          font-size: 1em;
        }
      }

      .project-stack {
        background-color: $background-default;
        height: 100%;
        left: 100%;
        padding: 20px;
        position: absolute;
        top: 0;
        transition: all .2s ease;
        width: 100%;

        &.reveal {
          left: 0;
        }

        h4 {
          font-weight: 300;
          margin-bottom: 15px;
        }

        .stack-details {
          color: $font-black;
          font-size: 1em;
          padding-left: 20px;
        }

        .stack-footer {
          border-top: 1px solid $border-dark;
          bottom: 20px;
          padding-top: 20px;
          position: absolute;
          width: calc(100% - 40px);

          .link-wrapper {
            background-color: $font-color-dark;
            border-radius: 50%;
            display: inline-block;
            height: 55px;
            margin-right: 15px;
            text-align: center;
            width: 55px;

            i {
              color: $font-color-light;
              font-size: 1.5em;
              line-height: 55.5px;
            }
          }
        }

        & .fa-close {
          margin-top: 2px;
        }
      }
    }
  }
}