@import '../../_core/styles/core.scss';

.experience {
  .container {
    margin: 0 auto;
    width: 90%;
    .card-container {
      @include card;
      background-color: $background-default;
      margin-bottom: 4rem;

      .card-header {
        display: flex;
        align-items: baseline;
        .org-logo {
          height: 70px;

          &.wipro {
            height: 100px;
          }
        }
        .designation {
          align-self: flex-end;
          color: $font-subtitle;
          font-size: 1.5rem;
          margin-left: auto;
          padding-bottom: 5px;
        }
      }
      .card-body {
        color: $font-black;
        padding: 0.75rem 1.5rem;

        .project-name {
          color: $font-color-dark;
        }

        .accomplishments {
          color: $font-color-dark;
          font-weight: 300;
        }
      }

      .card-footer {
        font-size: 1rem;
        text-align: right;
      }
    }
  }
}