@import '../../../_core/styles/core.scss';

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card {
  @include card;
  background-color: $background-default;
  margin-bottom: 30px;
  min-height: 100px;
  padding: 10px 20px;
  text-align: left;

  .card-title {

    .main-title {
      border-bottom: none;
      font-size: 1.5rem;
      margin: 0;
      text-transform: uppercase;
    }

    .sub-title {
      margin-bottom: 5px;
      padding: 0 15px;
    }
  }

  .card-content {
    margin-top: 15px;
    padding: 0 15px;
  }
}