@import '../styles/core.scss';

.skill {
  .container {
    margin: 0 auto;
    width: 90%;
  }

  .skill-type {
    background-color: $background-default;
    color: $font-color-dark;
    border-radius: 5px 35px 5px;
    box-shadow: 0px 0px 10px $shadow;
    margin: 30px;
    padding: 10px 20px 20px 20px;
    padding-bottom: 30px;
    transition: all 0.3s ease-in;

    &:hover {
      box-shadow: 0px 0px 30px $shadow;
    }
  }

  .skill-item-container {
    display: grid;
    grid-template-columns: calc(100%/6) calc(100%/6) calc(100%/6) calc(100%/6) calc(100%/6) calc(100%/6);

    .skill-item {
      display: flex;
      align-items: center;
      flex-direction: column;
  
      .skill-item-image {
        height: 100px;
        width: 100px;
      }

      .skill-item-text {
        font-size: 1.15rem;
        font-weight: 400;
        margin-top: 5px;
      }
    }  
  }
}