@import '../../_core/styles/core.scss';

#award {
  .container {
    margin: 0 auto;
    width: 90%;

    .award-details-container {
      display: flex;
    }
    .award-details {
      @include card;
      background-color: $background-default;
      margin-bottom: 30px;
      padding: 1rem;

      .award-title {
        font-weight: 400;
      }

      .sub-title {
        font-size: 1.1rem;
      }
      .desc {
        color: $font-black;
        font-size: 1.1rem;
      }
    }
  }
}