@import './_core/styles/core.scss';

.app {
  color: $font-color-dark;

  .nav-bar {
    @include shadow;
    background-color: $background-default;
    height: 100%;

    .side-nav {
      list-style: none;
      margin-top: 0;
      width: 100%; /* Set the width of the sidebar */
      overflow-x: hidden; /* Disable horizontal scroll */
      padding: 0;

      .brand-info {
        border-bottom: 1px solid $border-dark;
        font-weight: lighter;
        min-height: 120px;
        padding: 15px 0;
        position: relative;
        text-align: center;

        .sm-close-nav {
          color: $font-black;
          cursor: pointer;
          position: absolute;
          right: 15px;
        }

        h4.brand-name {
          font-size: 1.75rem;
          font-weight: inherit;
          margin-bottom: 5px;
          padding: 0 5px;
        }

        .brand-sub-title {
          font-size: 1rem;
          margin: 0;
        }
      }

      .nav-menu {
        color: $font-black;
        padding: 8px 15px 8px 15px;

        .nav-menu-icon {
          font-size: 1.2rem;
          margin-right: 15px;
          text-align: center;
          width: 20px;
        }

        .nav-menu-text {
          display: block;
          font-size: 1.1rem;
        }
      }
    }
  }

  .page-container {
    padding: 0;

    .aside-nav {
      min-width: 240px;

      .nav-trigger {
        @include shadow;
        background-color: $background-default;
        height: 75px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;

        .fixed-nav {
          position: relative;
          text-align: center;

          .fa-bars {
            cursor: pointer;
            left: 15px;
            position: absolute;
            top: 15px;
          }

          .brand-sub-title {
            font-size: 1rem;
          }
        }
      }

      .fixed-top {
        left: 0;
        transition: all .3s ease;
        width: 100%;

        &.hidden {
          left: -100%;
        }
      }
    }

    .main {
      width: 100%;

      &.no-scroll {
        overflow: hidden;
      }
    }

    @media screen and (max-width: 767px) {
      .main {
        padding-top: 75px !important;
      }
    }    
  }

  .section {
    padding-bottom: 2rem;

    &.home {
      height: 100vh;
    }

    header .page-header {
      background-color: $font-color-dark;
      color: $font-color-light;
      font-size: 3rem;
      font-weight: 200;
      margin: 0;
      margin-bottom: 3rem;
      padding: 15px;
      width: 100%;
    }
  }
}
