@import './_core/styles/core.scss';

.app {
  color: $font-color-dark;

  .nav-bar {
    .side-nav {
      @include shadow;
      background-color: $background-default;
      list-style: none;
      margin-top: 0;
      height: 100%; /* Full-height: remove this if you want "auto" height */
      width: $nav-bar-width; /* Set the width of the sidebar */
      position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      left: 0;
      overflow-x: hidden; /* Disable horizontal scroll */
      padding: 0;

      .brand-info {
        font-weight: lighter;
        padding: 15px 0;
        min-height: 120px;
        border-bottom: 1px solid $border-dark;
        text-align: center;

        h4.brand-name {
          font-size: 1.75rem;
          font-weight: inherit;
          margin-bottom: 5px;
          padding: 0 5px;
        }

        .brand-sub-title {
          font-size: 1rem;
          margin: 0;
        }
      }

      .nav-menu {
        color: $font-black;
        padding: 8px 15px 8px 15px;

        .nav-menu-icon {
          font-size: 1.2rem;
          margin-right: 15px;
          text-align: center;
          width: 20px;
        }

        .nav-menu-text {
          display: block;
          font-size: 1.1rem;
        }
      }
    }
  }

  .page-container {
    display: flex;
    padding: 0;

    .main {
      padding-left: $nav-bar-width;
      width: 100%;
    }
  }

  .section {
    padding-bottom: 2rem;

    &.home {
      height: 100vh;
    }

    header .page-header {
      background-color: $font-color-dark;
      color: $font-color-light;
      font-size: 3rem;
      font-weight: 200;
      margin: 0;
      margin-bottom: 3rem;
      padding: 15px;
      width: 100%;
    }
  }
}
